* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url("/images/background.jpg");
  min-height: calc(100vh - 191.91px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

.pointer {
  cursor: pointer;
}
