header {
  background-color: #fae3b9;
  border-bottom: 5px solid #6b4b1b;
}

header > nav > ul {
  height: 125px;
  padding: 12.5px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav > ul > * {
  height: 100%;
}

header img {
  height: 100%;
}
